# roles/dns/templates/db.192.168.10.j2

$TTL    604800
@       IN      SOA     {{ dns_server_name }}. admin.{{ dns_forward_zone }}. (
              2         ; Serial
         604800         ; Refresh
          86400         ; Retry
        2419200         ; Expire
         604800 )       ; Negative Cache TTL
;
; PTR records for lab.com
104     IN  PTR idclab479.lab.com.
2       IN  PTR infra.lab.com.

; PTR records for ocp-clust.com
165     IN  PTR idclab647.ocp-clust.com.
166     IN  PTR idclab648.ocp-clust.com.

; PTR records for ocp-kvm.com
177     IN  PTR idclab649.ocp-kvm.com.
178     IN  PTR idclab484.ocp-kvm.com.

; PTR records for ocp-cicd.com
198     IN  PTR idclab650.ocp-cicd.com.
