# roles/dns/templates/db.192.168.10.j2

$TTL    604800
@       IN      SOA     {{ dns_server_name }}. admin.{{ dns_forward_zone }}. (
              2         ; Serial
         604800         ; Refresh
          86400         ; Retry
        2419200         ; Expire
         604800 )       ; Negative Cache TTL
;
; PTR records for lab.com
100     IN  PTR host1.lab.com.

; PTR records for ocp-clust.com
160     IN  PTR host2.ocp-clust.com.

; PTR records for ocp-kvm.com
176     IN  PTR host3.ocp-kvm.com.

; PTR records for ocp-cicd.com
191     IN  PTR host4.ocp-cicd.com.
