# roles/dns/templates/db.domain3.com.j2

$TTL 604800     ; Default Time To Live
@       IN      SOA     ns1.domain3.com. admin.domain3.com. (
              3           ; Serial
         604800           ; Refresh
          86400           ; Retry
        2419200           ; Expire
         604800 )         ; Negative Cache TTL
;
; Name servers
@       IN      NS      ns1.domain3.com.

; A records for domain3.com
ns1     IN  A   {{ dns_ip_address }}
host1   IN  A   10.10.10.101  ; Just an example
; Add other necessary DNS records for the zone
