# roles/dns/templates/db.ocp-kvm.com.j2

$TTL 604800     ; Default Time To Live
@       IN      SOA     infra.lab.com. admin.ocp-kvm.com. (
              3           ; Serial
         604800           ; Refresh
          86400           ; Retry
        2419200           ; Expire
         604800 )         ; Negative Cache TTL
;
; Name servers
@       IN      NS      infra.lab.com.

; A records for ocp-kvm.com
infra     IN  A   {{ dns_ip_address }}
idclab484   IN  A   192.168.10.178  ; Xeon KVM Node
idclab649   IN  A   192.168.10.177  ; Gaudi KVM Node
; Add other necessary DNS records for the zone
