# roles/dhcp/templates/dhcpd.conf.j2

default-lease-time 600;
max-lease-time 7200;

# Common Options for all subnets:
option domain-name-servers {{ dhcp_common_dns }};
option ntp-servers {{ dhcp_common_ntp }};
authoritative;

# Each subnet block defines a distinct domain's scope.

# Subnet for lab (e.g., lab.com):
subnet {{ dhcp_subnet_1 }} netmask {{ dhcp_netmask_1 }} {
    range {{ dhcp_range_start_1 }} {{ dhcp_range_end_1 }};
    option routers {{ dhcp_router_1 }};
    option domain-name "lab.com";
}

# Subnet for ocp-clust (e.g., ocp-clust.com):
subnet {{ dhcp_subnet_2 }} netmask {{ dhcp_netmask_2 }} {
    range {{ dhcp_range_start_2 }} {{ dhcp_range_end_2 }};
    option routers {{ dhcp_router_2 }};
    option domain-name "ocp-clust.com";
}

# Subnet for ocp-kvm (e.g., ocp-kvm.com):
subnet {{ dhcp_subnet_3 }} netmask {{ dhcp_netmask_3 }} {
    range {{ dhcp_range_start_3 }} {{ dhcp_range_end_3 }};
    option routers {{ dhcp_router_3 }};
    option domain-name "ocp-kvm.com";
}

# Subnet for ocp-cicd (e.g., ocp-cicd.com):
subnet {{ dhcp_subnet_4 }} netmask {{ dhcp_netmask_4 }} {
    range {{ dhcp_range_start_4 }} {{ dhcp_range_end_4 }};
    option routers {{ dhcp_router_4 }};
    option domain-name "ocp-cicd.com";
}

# Static host assignments (applies to the machines you gave):
{% for mapping in dhcp_static_mappings %}
host {{ mapping.name }} {
    hardware ethernet {{ mapping.mac }};
    fixed-address {{ mapping.ip }};
}
{% endfor %}
